@charset "UTF-8";
.v_code_div {
   display: inline-block;
   width: 90px;
   height: 40px;
   line-height: 40px;
   text-align: center;
   vertical-align: middle;
   background-color: #ddd;
   cursor: pointer;
        }
			
/*  增加空行的div*/
#search_pass_link {
	width: 80%;
	text-align: right;
	margin: 0 auto;
	padding: 20px;
}
/* 登录框 */
    #login_box {
    vertical-align:middle;
      width: 20%;
      height: 400px;
      background-color: rgba(255, 255, 255, 0.6);
      margin: auto;
      margin-top: 10%;
      text-align: center;
      border-radius: 10px;
      padding: 50px 50px;
    }
/* 登录和取消按钮的样式 */
.btns {
	width: 30%;
	margin-left: 8%;
	height: 40px;
	border: 0;
	font-size: 14pt;
	font-family:"微软雅黑";
	background-color: #FC5628;
	color: #ffffff;
	cursor: pointer;
	/*设置指针鼠标的样式*/
	border-radius: 20px;
	/*设置圆角样式*/
	border: 0;
}

.try{
	vertical-align:"middle";  
}

	/* 输入行 */
  #input-box {
    vertical-align:middle;
    margin-top: 5%;
  }

  /* 输入框 */
  .inputbox {
    border: 0;
    width: 40%;
    font-size: 15px;      
    background: transparent;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    outline: none;
    margin-top: 10px;
  }
  
  .inputbox::-webkit-input-placeholder {       
    font-size: 15px;
}

    