#header { height:188px; position:relative;
    background: transparent url(../header_bkg.png) repeat-x scroll top center;}
#nav { margin:0px; padding-left:105px; position:absolute; top: 140px; display:block;}
#nav > li {color:#ffffff; list-style-type:none; float:left; display:block; margin:0px 0px; 
      position:relative; padding:10px; width:100px;border-left:1px solid #ffffff;border-right:1px solid #ffffff;}
#nav > li:hover ul { display:block; }
#nav > li:hover { background-color:rgba(191, 51, 56, 0.77); -moz-border-radius:10px; -webkit-border-radius:10px; }

#nav li ul { margin:0px; padding:0px; display:none;}
#nav li ul li { list-style-type:none; margin:15px 0 0 0;}
#nav li ul li a { display:block; padding:5px 10px; color:#330000; text-decoration:none;}

#nav li ul li:hover a { background-color:#ffffff; -moz-border-radius:5px; -webkit-border-radius:5px;}
#nav li span { cursor:pointer; margin:0px 10px; font-weight:bold; }  