<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>PasswdCheck</display-name>
    <servlet-name>PasswdCheck</servlet-name>
    <servlet-class>Che_imf.PasswdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswdCheck</servlet-name>
    <url-pattern>/PasswdCheck</url-pattern>
  </servlet-mapping>
  <display-name>orientation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JudidCheck</display-name>
    <servlet-name>JudidCheck</servlet-name>
    <servlet-class>Che_imf.JudidCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudidCheck</servlet-name>
    <url-pattern>/JudidCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuAdd</display-name>
    <servlet-name>StuAdd</servlet-name>
    <servlet-class>Add_imf.StuAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuAdd</servlet-name>
    <url-pattern>/StuAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeaAdd</display-name>
    <servlet-name>TeaAdd</servlet-name>
    <servlet-class>Add_imf.TeaAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaAdd</servlet-name>
    <url-pattern>/TeaAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumAdd</display-name>
    <servlet-name>ForumAdd</servlet-name>
    <servlet-class>Add_imf.ForumAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumAdd</servlet-name>
    <url-pattern>/ForumAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnAdd</display-name>
    <servlet-name>AnnAdd</servlet-name>
    <servlet-class>Add_imf.AnnAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnAdd</servlet-name>
    <url-pattern>/AnnAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuDel</display-name>
    <servlet-name>StuDel</servlet-name>
    <servlet-class>Del_imf.StuDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuDel</servlet-name>
    <url-pattern>/StuDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumDel</display-name>
    <servlet-name>ForumDel</servlet-name>
    <servlet-class>Del_imf.ForumDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumDel</servlet-name>
    <url-pattern>/ForumDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnDel</display-name>
    <servlet-name>AnnDel</servlet-name>
    <servlet-class>Del_imf.AnnDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnDel</servlet-name>
    <url-pattern>/AnnDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CostAlt</display-name>
    <servlet-name>CostAlt</servlet-name>
    <servlet-class>Alt_imf.CostAlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CostAlt</servlet-name>
    <url-pattern>/CostAlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusAlt</display-name>
    <servlet-name>StatusAlt</servlet-name>
    <servlet-class>Alt_imf.StatusAlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusAlt</servlet-name>
    <url-pattern>/StatusAlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswdAlt</display-name>
    <servlet-name>PasswdAlt</servlet-name>
    <servlet-class>Alt_imf.PasswdAlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswdAlt</servlet-name>
    <url-pattern>/PasswdAlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoAlt</display-name>
    <servlet-name>InfoAlt</servlet-name>
    <servlet-class>Alt_imf.InfoAlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoAlt</servlet-name>
    <url-pattern>/InfoAlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoQuery</display-name>
    <servlet-name>InfoQuery</servlet-name>
    <servlet-class>Que_imf.InfoQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoQuery</servlet-name>
    <url-pattern>/InfoQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusQuery</display-name>
    <servlet-name>StatusQuery</servlet-name>
    <servlet-class>Que_imf.StatusQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusQuery</servlet-name>
    <url-pattern>/StatusQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CostQuery</display-name>
    <servlet-name>CostQuery</servlet-name>
    <servlet-class>Que_imf.CostQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CostQuery</servlet-name>
    <url-pattern>/CostQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForumQuery</display-name>
    <servlet-name>ForumQuery</servlet-name>
    <servlet-class>Que_imf.ForumQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumQuery</servlet-name>
    <url-pattern>/ForumQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnQuery</display-name>
    <servlet-name>AnnQuery</servlet-name>
    <servlet-class>Que_imf.AnnQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnQuery</servlet-name>
    <url-pattern>/AnnQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoCensus</display-name>
    <servlet-name>InfoCensus</servlet-name>
    <servlet-class>Que_imf.InfoCensus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoCensus</servlet-name>
    <url-pattern>/InfoCensus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusCensus</display-name>
    <servlet-name>StatusCensus</servlet-name>
    <servlet-class>Que_imf.StatusCensus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusCensus</servlet-name>
    <url-pattern>/StatusCensus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CostCensus</display-name>
    <servlet-name>CostCensus</servlet-name>
    <servlet-class>Que_imf.CostCensus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CostCensus</servlet-name>
    <url-pattern>/CostCensus</url-pattern>
  </servlet-mapping>
</web-app>